.data-table-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-bottom: 15vh;
  & span {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    width: 95%;
  }
}
.data-table-paginator{
  width: 95%;
}
.data-table-form{
  margin-top: 0.5rem;
  width: 95%;
  height: 10vh;

}
.data-table-spinner {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 95%;
  & td.done {
    color: white;
  }
  & td.in-progress {
    color: #66bb6a;
  }
}
