<div class="sub-navbar" (click)="drawer.toggle(); showNotifications = !showNotifications">
  <img src="assets/notification.png">
  <button type="button" mat-button color="white">
    {{!showNotifications ? "Show notifications" : "Hide notifications"}}
  </button>
</div>

<mat-drawer-container class="complaints-container" autosize>
  <mat-drawer #drawer class="complaints-sidenav" mode="side">
    <mat-card>
      <mat-card-title>1. Dawcio Hutyra</mat-card-title>
      <mat-card-subtitle>The time to consider the complaint is expired!</mat-card-subtitle>
      <mat-card-actions align="end">
        <button mat-button>Show</button>
        <button mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-drawer>

  <div class="complaints-sidenav-content">
    <app-data-table></app-data-table>
  </div>


</mat-drawer-container>
