.sub-navbar {
  display: flex;
  align-items: center;
  width:100%;
  background-color: #d81b60;
  height: 5vh;
  & button{
    font-size: .8rem;
    color: rgba(255,255,255,0.8);
    &:hover{
      color: rgba(255,255,255,1);
    }
  }
  & img {
    margin-left: 3rem;
    height: 50%;
  }
}

.complaints {
  &-container {
    display: flex;
    background-color: #303030;
    color: white;
    min-height: 85vh;
    width: 100%;
  }
  &-notifications {
    background-color: #424242;
    width: 0;
    transition: .5s;
    z-index: 2;
    &.active {
      width: 20%;
    }
    overflow-y: auto;
    max-height: 85vh;
    & .mat-card.mat-focus-indicator:not(:first-of-type) {
      margin-top: 5px;
    }

  }
  &-content {
    transition: .5s;
    width:100%;
    &.active {
      width: 80%;
    }
    overflow-y: auto;
    max-height: 85vh;
  }
}

@media (max-width: 1024px){
  .complaints {
    &-container {
      flex-direction: column;
    }
    &-notifications {
      position: fixed;
      height: 0;
      width: 100%;
      transition: .5s;
      &.active {
        height: 100%;
        width: 100%;
      }

      & .mat-card.mat-focus-indicator:not(:first-of-type) {
        margin-top: 5px;
      }
    }
    &-content {
      width: 100%;
      display:block;
      overflow-y: auto;
      height: 100%;
      &.active {
        display: none;
        height: 0%;
      }
    }
  }
}
